.App {
  text-align: center;
}

.App-header {
  font-family: SFDistantGalaxy, sans-serif;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: #ffe818;
}

.sw-logo {
  height: 30vmin
}