@font-face {
  font-family: 'SFDistantGalaxy';
  src: local('SFDistantGalaxy'), url(./fonts/SfDistantGalaxyOutline.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}